.container {
    .top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #fff;
        margin-bottom: 55px;
        .current-question-number {
            &:after {
                content: '/';
            }
        }
        .value {
            margin-right: 5px;
        }
    }
    .content-main {
        text-align: center;
        .question {
            font-size: 27px;
        }
        .options {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .option {
                margin-top: 15px;
                font-size: 20px;
                cursor: pointer;
                background: #fff;
                box-shadow: none;
                border: none;
                padding: 5px 20px;
                border-radius: 5px;
                &:hover,
                &.selected {
                    background: #084169;
                    color: #fff;
                }
                &:disabled {
                    background: #fff;
                    color: #000;
                }
                &.wrong {
                    background: red;
                    color: #fff;
                }
                &.correct {
                    background: green;
                    color: #fff;
                }
            }
        }
        .final-result {
            font-size: 35px;
        }
        .try-again {
            margin-top: 15px;
            font-size: 20px;
            cursor: pointer;
            background: #fff;
            box-shadow: none;
            border: none;
            padding: 5px 20px;
            border-radius: 5px;
        }
    }
}

.loader-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0072bb;
    .loader {
        border: 2px solid #fff;
        border-radius: 50%;
        border-top: 2px solid #0072bb;
        width: 95px;
        height: 95px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}