<div class="container">
  <div *ngIf="!quizComplted" class="top-bar">
    <div class="question-number">
      <p>
        <span class="current-question-number">{{currentQuestionNumber}}</span>
        <span class="total-question-number">{{totalNumberOfQuestions}}</span>
      </p>
    </div>
    <div class="timer">
      <p>
        <span class="timer-value value">{{timeLeft}}</span>
        <span class="timer-label label">Sec.</span>
      </p>
    </div>
    <div class="score">
      <p>
        <span class="points value">{{score}}</span>
        <span class="score-label label">Points</span>
      </p>
    </div>
  </div>
  <div *ngIf="!quizComplted" class="content-main">
    <p class="question" [innerHTML]="currentQuestion"></p>
    <div class="options" *ngFor="let option of questionOptions">
      <button [disabled]="currentQuestionCorrectAnswer" class="option" [ngClass]="{'correct': option === currentQuestionCorrectAnswer}"
        [innerHTML]="option" (click)="validateResult(option, $event.target)"></button>
    </div>
  </div>
  <div *ngIf="quizComplted" class="content-main">
    <p class="final-result">Your Score is {{score}} out of {{correctAnswerPoint * totalNumberOfQuestions}}</p>
    <button class="try-again" (click)="getQuestions()">Try Again</button>
  </div>
</div>
<div *ngIf="showLoader" class="loader-main">
  <div class="loader"></div>
</div>